@use "../styles/theme.scss";

.typo {
  a {
    color: theme.$theme-color;
    border-bottom: none;
  }
  @media print {
    a {
      color: theme.$font-color;
      border-bottom: 1px solid theme.$font-color;
    }
  }
}
.page1 {
  display: flex;
  font-size: 14px;
  .left {
    width: 326px;
    padding-top: 50px;
    padding-left: 64px;
    padding-right: 59px;
    background-color: theme.$theme-color-second;
    ul {
      margin: 0;
      li {
        font-weight: 400;
        list-style: none;
      }
    }
  }
  .right {
    flex: 1;
    padding: 50px;
  }
}
.page2 {
  font-size: 14px;
  padding: 50px 60px;

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
    margin: 10px 0;
  }
}

.version {
  display: none;
}
