@use "@/styles/theme.scss";

.experience {
  h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0;
  }
  .tag {
    display: table;
    font-size: 11px;
    font-weight: 400;
    color: #666;
    margin-top: 4px;
    padding: 2px 8px;
    border: 1px solid #ddd;
    border-radius: 12px;
  }
  p {
    margin-bottom: 4px;
  }
  li {
    border-bottom: solid 1px theme.$border-color;
    &:last-child {
      border-bottom: 0;
    }
  }
}
