@use "@/styles/theme.scss";

.sideContainer {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sideButton {
  font-size: 12px;
  font-weight: 500;
  background: theme.$theme-color-second;
  line-height: 40px;
  padding: 0 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 3px 3px 3px #999999;
  cursor: pointer;
  a {
    color: theme.$theme-color;
    &:hover {
      color: theme.$theme-color;
    }
  }
  margin-bottom: 10px;
}

@media print {
  .sideContainer {
    display: none;
  }
}
